Kontrollenhet Screenshots
Brukerenhet screenshots
logFileText.txt
logFileData.txt
test.py
__pycache__
.vscode
tkinter example 2.py
tkinter exaple 1.py
Bluetooth.py
Bluetooth2.py
main2GUI.py
readandgrant.py
write.py
todo.txt
drawio